<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @property.property %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Building age:</strong>
  <%= @property.building_age %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @property.remarks %>
</p>
<hr>
<% @property.stations.each do |poor| %>
  <h2><b>Nearest station </b></h2>
  <p>
    <strong>Name of railway line:</strong>
    <%= poor.rail_way_line %>
  </p>

  <p>
    <strong>Station name:</strong>
    <%= poor.station_name %>
  </p>

  <p>
    <strong>How many minutes walks:</strong>
    <%= poor.minutes_walk %>
    </p>
<% end %>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
